# IntelliJ project files
.idea
*.iml

node_modules

# source
src
test
.commitlintrc.json
eslint.config.mjs
.gitignore
.prettierrc
.release-it.json
index.ts
package-lock.json
tsconfig.build.json
tsconfig.json

# github
.github
CONTRIBUTING.md
renovate.json

# ci
.circleci
